// Parameters to run simulations using the PLSDB plasmid database
params {
    recipients = 's3://shao-bucket/hgt/genome_assemblies/Escherichia_coli_genomes/*.fasta'
    plasmids = 's3://shao-bucket/ivom/genome_assemblies/plasmids/plsdb/*.fasta'
    num_reads = '625000'
    read_length = 150
    min_insert = 150
    max_insert = 500
    unicycler_args = '--min_fasta_length 1 --mode conservative '
    outdir = 's3://shao-bucket/hgt/hgt_sim/results/'
}
workDir = 's3://shao-bucket/hgt/hgt_sim/work/'
